body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239, 80, 41);
    margin: 0  auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color:  white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffffe5;
}

/* main container area beneath menu  */
main {
    background: rgb(244, 242, 248);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.content {
    flex: 1;
    padding: 15px;
}
/* intrests section styles */
#intrests {
    border: 4px rgb(255, 255, 255) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

body {
    background: #3804f3d0
}
nav {
    background: #eeff00be;
}
a {
    color: #0e0af0;
}
/* Portfolio styles */
.content h1 {
    color: rgba(221, 210, 50, 0.808);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #4f0ee7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #ffffff;
}

#portfolio a {
    text-decoration: none;
    color: #f1cb0dd8;
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
    main {
        height: 100ch;
        zoom: 1.5;
        display: grid;
    }
    
    h1 {
       font-size: 44px;
    }

    h2 {
       font-size: 42px;
    }

    h3 {
       font-size:36px;
    }

    #all content {
       height: 100ch;
       margin: none;
    }

    a {
        font-size: 42px;
    }

    .sidebar {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .sidebar-img {
        width: 100%;
    }

    p,
    li {
        font-size: 24px;
    }

    .content {
        align-content: center;
        justify-content: center;
    }
}